
.idea/android-exp.iml

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

FirebaseExperiment/.idea/compiler.xml

FirebaseExperiment/.idea/copyright/profiles_settings.xml

FirebaseExperiment/.idea/gradle.xml

FirebaseExperiment/.idea/misc.xml

FirebaseExperiment/.idea/modules.xml

FirebaseExperiment/.idea/runConfigurations.xml

friendlychat/web/firebase-debug.log

friendlychat/web/friendlychat.sublime-project

friendlychat/web/friendlychat.sublime-workspace
